body {
  background-image: url(/static/img/dahliabackground.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: 200px;
}

.content{
	margin: 10px;
}

.navbar
{
	margin-left: -15px;
	margin-right: -15px;
}

.bg-light {
    background-color: #7f1e3f!important;
}

.btn-outline-secondary {
    color: #ffffff;
    border-color: #ffffff00;
}

.btn-outline-secondary:hover {
    color: #afaeae;
    background-color: #6c757d00;
    border-color: #6c757d00;
}

.btn-outline-success {
    color: #ffffff;
    border-color: #5d656d00;
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #bdb8b8;
    background-color: #6e819400;
    border-color: #ffffff00;
}

.btn-outline-success:hover {
    color: #afaeae;
    background-color: #c4cac500;
    border-color: #f7f7f700;
}

.dahlia-photo{
	width: 60%;
    border-radius: 50%;
}

.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(126, 138, 129, 0);
}


.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.04);
}

.about-me {
    text-align: justify;
    padding: 15px;
    background-color: #f7e7ecd1;
}

.projects {
    text-align: justify;
    background-color: #f7e7ecd1;
}